{% extends 'layout.html' %}

{% block content %}
<h1 class="title">Produtos</h1>
<form class="form__products" action="/add" method="post">
    <label class="form__products-label" for="code">Código:</label>
    <input class="form__products-input" type="text" name="code" required>
    <label class="form__products-label" for="description">Descrição:</label>
    <input class="form__products-input" type="text" name="description" required>
    <label class="form__products-label" for="price">Preço:</label>
    <input class="form__products-input" type="text" name="price" required>
    <button class="form__products-btn" type="submit">Adicionar Produto</button>
</form>
<table class="product__table">
    <tr>
        <th>Código</th>
        <th>Descrição</th>
        <th>Preço</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product[0] }}</td>
        <td>{{ product[1] }}</td>
        <td>{{ product[2] }}</td>
        <td class="product__table-actions">
            <a class="product__table-action--update" href="{{ url_for('update_product', code=product[0]) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a class="product__table-action--delete" href="{{ url_for('delete_product', code=product[0]) }}" onclick="return confirm('Você tem certeza?')">
                <i class="fa-solid fa-trash"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
